@model Chat.Infrastructure.ViewModels.ChatViewModel

@{
    ViewBag.Title = "Chat";
}

@section ExtraStyles {
    <link href="@Url.Content("~/Content/chat.css")" rel="stylesheet" />
}
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
@section ExtraScripts {


}

<div id="header">
    SignalR Chat Room
</div>

<input id="userId" type="hidden" />
<input id="userName" type="hidden" />

<div class="container">
    <div class="row " style="padding-top:40px;"></div>

    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                RECENT CHAT HISTORY
            </div>

            <ul class="media-list msg-list">
                <li class="media">
                    <div class="media-body">
                        <div class="media">
                            <p class="pull-left" href="#">
                                User Name
                            </p>
                            <div class="media-body">
                                Donec sit amet ligula enim. Duis vel condimentum massa.

                                Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                Duis vel condimentum massa.
                                Donec sit amet ligula enim. Duis vel condimentum massa.
                                <br />
                                <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                <hr />
                            </div>
                        </div>

                    </div>
                </li>
            </ul>

            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" id="msgText" class="form-control" placeholder="Enter Message" />
                    <span class="input-group-btn">
                        <button id="btnSendMsg" class="btn btn-info" type="button">SEND</button>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                ONLINE USERS
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-body">
                            <div class="media">
                                <p class="pull-left">
                                    User Name
                                </p>
                                <div class="media-body">
                                    <h5>Alex Deo | User </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <script id="msg-tmpl" type="text/x-jquery-tmpl">
        <li class="media">
            <div class="media-body">
                <div class="media">
                    <p class="pull-left msg-user-name" href="#">
                        ${userName}
                    </p>
                    <div class="media-body">
                        ${text}
                        <br />
                        <small class="text-muted">${time}</small>
                        <hr />
                    </div>
                </div>

            </div>
        </li>
    </script>
</div>



<script type="text/javascript">

    $(function () {

        // Declare a proxy to reference the hub.
        var chatHub = $.connection.chatHub;

        registerClientMethods(chatHub);

        // Start Hub
        $.connection.hub.start().done(function () {
            registerEvents(chatHub);

            var userNameEmail = '@Model.UserName'.concat(' ').concat('(@Model.Email)');
            chatHub.server.connect(userNameEmail);
        });

        function registerClientMethods(chatHub) {

            // Calls when user successfully logged in
            chatHub.client.onConnected = function (id, userName, allUsers, messages) {

                $('#userId').val(id);
                $('#userName').val(userName);

                // Add All Users
                for (i = 0; i < allUsers.length; i++) {

                    //AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].UserName);
                }

                // Add Existing Messages
                for (i = 0; i < messages.length; i++) {

                    AddMessage(messages[i].UserName, messages[i].Message);
                }
            }

            chatHub.client.messageReceived = function (userName, message) {

                AddMessage(userName, message);
            }
        }

        function registerEvents(chatHub) {

            $('#btnSendMsg').click(function () {

                var msg = $("#msgText").val();
                if (msg.length > 0) {
                    var userName = $('#userName').val();
                    chatHub.server.sendMessageToAll(userName, msg);
                    $("#msgText").val('');
                }
            });

            $("#msgText").keypress(function (e) {
                if (e.which == 13) {
                    $('#btnSendMsg').click();
                }
            });
        }

        function AddMessage(userName, message) {
            $("#msg-tmpl").tmpl({
                userName: userName,
                text: message,
                time: new Date().toLocaleString()
            }).prependTo(".msg-list");
            $("#msgText").val('');
        }

    });

</script>
