@model Chat.Infrastructure.ViewModels.ChatViewModel

@{
    ViewBag.Title = "Chat";
}

@section ExtraStyles {
    <link href="@Url.Content("~/Content/chat.css")" rel="stylesheet" />
}

@section ExtraScripts {
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
}

<input id="connectionId" type="hidden" />
<input id="userName" type="hidden" />

<div id="private-msg-container"></div>

<div class="container">
    <div class="row " style="padding-top:40px;"></div>

    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                RECENT CHAT HISTORY
            </div>

            <ul class="media-list msg-list">
            </ul>

            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" id="msgText" class="form-control" placeholder="Enter Message" />
                    <span class="input-group-btn">
                        <button id="btnSendMsg" class="btn btn-info" type="button">SEND</button>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                ONLINE USERS
            </div>
            <div class="panel-body">
                <ul class="media-list users-list">
                </ul>
            </div>
        </div>
    </div>

    <script id="msg-tmpl" type="text/x-jquery-tmpl">
        <li class="media">
            <div class="media-body">
                <div class="media">
                    <p class="pull-left msg-user-name" href="#">
                        ${userName}
                    </p>
                    <div class="media-body">
                        ${text}
                        <br />
                        <small class="text-muted">${time}</small>
                        <hr />
                    </div>
                </div>

            </div>
        </li>
    </script>

    <script id="user-tmpl" type="text/x-jquery-tmpl">
        <li class="media" id='li_${id}'>
            <div class="media-body">
                <div class="media">
                    <a class="pull-left send-private-msg" title="Click to start private chat" id='${id}'>
                        ${userName}
                    </a>
                </div>
            </div>
        </li>
    </script>

    <script id="current-user-tmpl" type="text/x-jquery-tmpl">
        <li class="media">
            <div class="media-body">
                <div class="media">
                    <p class="pull-left" style="color: navy">
                        ${userName}
                    </p>
                </div>
            </div>
        </li>
    </script>

</div>



<script type="text/javascript">

    $(function () {

        // Declare a proxy to reference the hub.
        var chatHub = $.connection.chatHub;

        registerClientMethods(chatHub);

        // Start Hub
        $.connection.hub.start().done(function () {
            registerEvents(chatHub);

            chatHub.server.connect('@Model.UserNameEmail');
        });

        function registerClientMethods(chatHub) {

            // Calls when user successfully logged in
            chatHub.client.onConnected = function (id, userName, allUsers, messages) {

                $('#connectionId').val(id);
                $('#userName').val(userName);

                // Add All Users
                for (i = 0; i < allUsers.length; i++) {

                    AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].UserName);
                }

                // Add Existing Messages
                for (i = 0; i < messages.length; i++) {

                    AddMessage(messages[i].UserName, messages[i].Message);
                }
            }

            chatHub.client.messageReceived = function (userName, message) {

                AddMessage(userName, message);
            }

            chatHub.client.onNewUserConnected = function (id, name) {

                AddUser(chatHub, id, name);

                $("#msg-tmpl").tmpl({
                    userName: "Info:",
                    text: name.concat(' ').concat('joined the chat.'),
                    time: new Date().toLocaleString()
                }).css('color', 'rgb(232, 193, 164)').prependTo(".msg-list");
            }

            chatHub.client.onUserDisconnected = function (id, userName) {

                $('#' + id).remove();

                var parentLi = 'li_'.concat(id);
                $('#'.concat(parentLi)).remove();

                var ctrId = 'private_' + id;
                $('#' + ctrId).remove();

                $("#msg-tmpl").tmpl({
                    userName: "Info:",
                    text: userName.concat(' ').concat('logged off.'),
                    time: new Date().toLocaleString()
                }).css('color', 'rgb(232, 193, 164)').prependTo(".msg-list");
            }

            chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message) {

                var privateWindowId = 'private_'.concat(windowId);

                if ($('#'.concat(privateWindowId)).length === 0) {
                    OpenPrivateChatWindow(chatHub, windowId, fromUserName);
                }

                var privateMsgList = $('#'.concat(privateWindowId)).find('.private-msg-list');

                $("#msg-tmpl").tmpl({
                    userName: fromUserName,
                    text: message,
                    time: new Date().toLocaleString()
                }).prependTo(privateMsgList);
            }
        }

        function registerEvents(chatHub) {

            $('#btnSendMsg').click(function () {
                var msg = $("#msgText").val();
                if (msg.length > 0) {
                    var userName = $('#userName').val();
                    chatHub.server.sendMessageToAll(userName, msg);
                    $("#msgText").val('');
                }
            });

            $("#msgText").keypress(function (e) {
                if (e.which == 13) {
                    $('#btnSendMsg').click();
                }
            });

            $(".users-list").on('click', '.send-private-msg', function () {

                var $self = $(this);
                var id = $self.attr('id');
                var userName = $self.text();

                OpenPrivateChatWindow(chatHub, id, userName);
            });
        }

        function AddMessage(userName, message) {
            $("#msg-tmpl").tmpl({
                userName: userName,
                text: message,
                time: new Date().toLocaleString()
            }).prependTo(".msg-list");
            $("#msgText").val('');
        }

        function AddUser(chatHub, id, name) {

            var connectionId = $('#connectionId').val();

            if (connectionId === id) {
                $("#current-user-tmpl").tmpl({
                    userName: name
                }).prependTo(".users-list");
            } else {
                $("#user-tmpl").tmpl({
                    userName: name,
                    id: id
                }).prependTo(".users-list");
            }
        }

        function OpenPrivateChatWindow(chatHub, id, userName) {

            var windowId = 'private_'.concat(id);

            if ($('#'.concat(windowId)).length) {
                return;
            }

            $.ajax({
                url: '@Url.Action("PrivateDialogTemplate", "Chat")',
                data: { windowId: windowId, userName: userName },
                type: "GET",
                async: false,
                cahse: false,
                success: function (result) {
                    $("#private-msg-container").append(result);

                    $('#'.concat(windowId)).draggable({
                        handle: ".header"
                    });

                    $('.private-close').on('click', function () {
                        $('#'.concat(windowId)).remove();
                    });

                    $('.btn-send-private').on('click', function () {
                        var $input = $(this).closest('.input-group').children('input');
                        var msg = $input.val();

                        if (msg.length > 0) {
                            chatHub.server.sendPrivateMessage(id, msg);
                            $input.val('');
                        }
                    });

                    $('.private-msg-text').on('keyup', function (e) {
                        if (e.which === 13) {
                            $(this).parent().find('.btn-send-private').click();
                        }
                    });
                }
            });
        }

    });

</script>
